---
page_title: "Full Ecosystem"
description: |-
  Full Ecosystem Deployment
---

# Full Ecosystem

This guide provides an example configuration for deploying a full ecosystem of Megaport services.

## Example Configuration

This example configuration creates a Megaport Port, a Megaport LAG Port, a Megaport MCR, and three VXCs connecting the services to each other and to partners.

{{ tffile "examples/full_ecosystem/full_ecosystem.tf" }}