---
page_title: "LAG Port"
description: |-
  Lag Port Deployment
---

# LAG Port

This guide provides an example configuration for deploying a LAG Port.

## Example Configuration

This example configuration creates a LAG Port.

{{ tffile "examples/lag_port/lag_port.tf" }}

## LAG Port Documentation

For more information on creating and using LAG ports with Megaport, please see [Creating a Link Aggregation Group (LAG) Port](https://docs.megaport.com/connections/lag/) and [Adding a Port to a LAG](https://docs.megaport.com/connections/lag-adding/).