---
page_title: "Moving VXC End Configurations"
description: |-
  How to move a VXC to a different end configuration
---

# Moving VXC End Configuration

This guide provides an example configuration for moving a VXC to a different end configuration.

- The new endpoint can be in a different location but must be in the same metro area.
- The new endpoint must be of the same type. For example, MEGAPORT to MEGAPORT, MCR to MCR, or MVE to MVE.
- The configured speed of each VXC must be no greater than the speed of the destination Port. If downgrading, it might be necessary for you to lower the speed of the VXC before requesting the move.
- There must not be an IP address or VLAN conflict. The updated services are checked as if a new service is being ordered. For example, an untagged VLAN can't be moved to a - service that already has an untagged VLAN.
- The services being moved must have different VLAN IDs from any services already on the destination.

## Initial Configuration

In this example, we create four Ports and a VXC connecting the first two Ports.

{{ tffile "examples/moving_vxc/moving_vxc_a.tf" }}

## Moving VXC End Configuration

In this example, we move the VXC to connect the third and fourth Ports by re-assigning the `product_uid` field of the A-End and B-End configuration of the VXC.

{{ tffile "examples/moving_vxc/moving_vxc_b.tf" }}

Once the VXCs are moved, the VXC will be connected to the third and fourth Ports.  The user can then delete the first and second Ports if they are no longer required.

## Example with AWS Virtual Interface and two MCRs.

In this example, we move a VXC connecting an AWS Virtual Interface and an MCR to connect to a different MCR.

First provision the resources for the two MCRs and the AWS Virtual Interface VXC.

{{ tffile "examples/moving_vxc/moving_vxc_c.tf" }}

Then, move the VXC to a different MCR.

{{ tffile "examples/moving_vxc/moving_vxc_d.tf" }}

Once the VXC is successfully moved to the second MCR, the user can delete the first MCR if it is no longer required.

## Additional Documentation on Moving VXCs

For additional documentation on moving VXCs, please visit [Moving a VXC](https://docs.megaport.com/connections/move-vxc/).