---
page_title: "Versa Megaport Virtual Edge (MVE)"
description: |-
  Versa Megaport Virtual Edge (MVE) Deployment
---

# Versa Megaport Virtual Edge (MVE)

This guide provides an example configuration for deploying a Versa Megaport Virtual Edge (MVE).

## Example Configuration

This example configuration creates a Versa MVE.

{{ tffile "examples/mve_versa/mve_versa.tf" }}

## MVE Documentation

For more information on creating and using an Aruba Megaport Virtual Edge, additional documentation is available [here](https://docs.megaport.com/mve/).