---
page_title: "Aruba Megaport Virtual Edge (MVE)"
description: |-
  Aruba Megaport Virtual Edge (MVE) Deployment
---

# Aruba Megaport Virtual Edge (MVE)

This guide provides an example configuration for deploying an Aruba Megaport Virtual Edge (MVE).

## Example Configuration

This example configuration creates an Aruba MVE.

{{ tffile "examples/mve_aruba/mve_aruba.tf" }}

## MVE Documentation

For more information on creating and using an Aruba Megaport Virtual Edge, additional documentation is available [here](https://docs.megaport.com/mve/).