---
page_title: "Megaport Single Port"
description: |-
  Megaport Single Port Deployment
---

# Megaport Single Port

This guide provides an example configuration for deploying a Megaport Single Port.

## Example Configuration

This example configuration creates a Megaport Single Port.

{{ tffile "examples/single_port/single_port.tf" }}

## Additional documentation on Ports

For additional documentation on creating a port, please visit [this page](https://docs.megaport.com/connections/creating-port/).