---
page_title: "Megaport Internet VXC"
description: |-
  How to create a Megaport Internet VXC
---

# Megaport Internet VXC

This guide provides an example configuration for creating a Megaport Internet VXC.

## Example Configuration

This example configuration creates a Megaport Virtual Edge (MVE) and an Internet VXC.

{{ tffile "examples/vxc_mve_transit/vxc_mve_transit.tf" }}