---
page_title: "Megaport Virtual Cross Connect (VXC)"
description: |-
  How to create a Megaport Port to Port Virtual Cross Connect (VXC)
---

# Megaport Virtual Cross Connect (VXC)

This guide provides an example configuration for deploying a Megaport Port to Port Virtual Cross Connect (VXC).

## Example Configuration

This example configuration creates two Megaport Ports and a Virtual Cross Connect (VXC).

{{ tffile "examples/vxc_basic/vxc_basic.tf" }}

## VXC Documentation

For additional documentation on VXCs, please visit [this page](https://docs.megaport.com/connections/).