---
page_title: "Megaport Internet Virtual Cross Connect (VXC)"
description: |-
  How to create a Megaport Internet Virtual Cross Connect (VXC)
---

# Megaport Internet Virtual Cross Connect (VXC)

This guide provides an example configuration for deploying a Megaport Internet Virtual Cross Connect (VXC).

## Example Configuration

This example configuration creates a Megaport Virtual Edge (MVE) and an Internet VXC.

{{ tffile "examples/vxc_mve_transit/vxc_mve_transit.tf" }}

## Megaport Internet Documentation

For additional documentation on Megaport Internet, please visit [this page](https://docs.megaport.com/megaport-internet/).