---
page_title: "Megaport Virtual Cross Connect (VXC) with Megaport Cloud Router and Cloud Service Providers"
description: |-
    How to create a Megaport Virtual Cross Connect (VXC) with a Megaport Cloud Router (MCR) and Cloud Service Providers (CSPs)
---

# Megaport Virtual Cross Connect (VXC) with Megaport Cloud Router and Cloud Service Providers

This guide provides an example configuration for deploying a Megaport Virtual Cross Connect (VXC) with a Megaport Cloud Router (MCR) and Cloud Service Providers (CSPs) such as AWS, Google, and Microsoft Azure.

## Example Configuration

This example configuration creates a Megaport Cloud Router (MCR) and Virtual Cross Connects (VXCs) to AWS, Google, and Microsoft Azure.

{{ tffile "examples/vxc_mcr_csps/vxc_mcr_csps.tf" }}