---
page_title: "Megaport MCR BGP VXC with AWS"
description: |-
  How to create a Megaport VXC with BGP for MCR
---

# Megaport MCR BGP VXC with AWS

This guide provides an example configuration for creating a Megaport VXC with BGP for MCR to an AWS Hosted Connection.

## Example Configuration

This example configuration creates a Megaport Cloud Router (MCR) and a VXC with BGP for MCR to an AWS Hosted Connection.

{{ tffile "examples/vxc_mcr_bgp/vxc_mcr_bgp.tf" }}


