---
page_title: "Megaport Virtual Cross Connect (VXC) with Megaport Virtual Edge (MVE) and AWS"
description: |-
  How to create a Megaport Virtual Cross Connect (VXC) with a Megaport Virtual Edge (MVE) and AWS
---

# Megaport Virtual Cross Connect (VXC) with Megaport Virtual Edge (MVE) and AWS

This guide provides an example configuration for deploying a Megaport Virtual Cross Connect (VXC) with a Megaport Virtual Edge (MVE) and AWS.

## Example Configuration

This example configuration creates a Megaport Virtual Edge (MVE) and a Virtual Cross Connect (VXC) to AWS.

{{ tffile "examples/vxc_mve_aws/vxc_mve_aws.tf" }}