---
page_title: "Changing VLAN for a Virtual Cross Connect End Configuration"
description: |-
    How to change the VLAN for a Virtual Cross Connect (VXC) end configuration
---

# Changing VLAN for a Virtual Cross Connect End Configuration

This guide provides an example configuration for changing the VLAN for a Virtual Cross Connect (VXC) end configuration.

## Example Configuration

This serves as an example of how to change the VLANs on Virtual Cross Connect (VXC) end configurations.  In the first example, we will provide an `ordered_vlan` of 100 and 101 in the respective `a_end` and `b_end` configurations.

{{ tffile "examples/vxc_vlan_change/vxc_vlan_change_a.tf" }}

To change the VLAN for each end configuration, simply specify a different value for the `ordered_vlan` attribute.  In the following example, we will change the `ordered_vlan` to 200 and 201 in the respective `a_end` and `b_end` configurations.

{{ tffile "examples/vxc_vlan_change/vxc_vlan_change_b.tf" }}