---
page_title: "Megaport Provider"
description: |-
  The Megaport Terraform Provider.
---

# Megaport Provider

The `terraform-provider-megaport` or Megaport Terraform Provider lets you create and manage
Megaport's product and services using the [Megaport API](https://dev.megaport.com).

This provides an opportunity for true multi-cloud hybrid environments supported by Megaport's Software
Defined Network (SDN). Using the Terraform provider, you can create and manage Ports,
Virtual Cross Connects (VXCs), Megaport Cloud Routers (MCRs), and Partner VXCs

The Megaport Terraform Provider is released as a tool for use with the Megaport API. 

**Important:** The usage of the Megaport Terraform Provider constitutes your acceptance of the terms available
in the Megaport [Acceptable Use Policy](https://www.megaport.com/legal/acceptable-use-policy/) and
[Global Services Agreement](https://www.megaport.com/legal/global-services-agreement/).


## Configuring the provider

First you'll need to create an API key, docs for which can be found [here](https://docs.megaport.com/api/api-key/

{{ tffile "examples/provider/provider.tf" }}
